* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Dm Sans", sans-serif;
    box-sizing: border-box;
    background: #69c4e5;
}


header {
    display: flex;
    background-color: white;
    justify-content: space-between; 
    flex-direction: column;
    align-items: center;  
}

.contLogo {
    text-align: center; 
}

.contLogo img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.navbar {
    display: flex;
    background-color: #090145; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
}

.navbar a {
    transition: all 0.5s ease;
}
  
.navbar a:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    font-size: 40px;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0 ;
    display: flex;
}

.navbar ul li a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
}

.paginas{
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.iconosUser{
    display:flex;
    box-sizing: border-box;
	align-items: center;
}

#user {
   
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}


.seccionMain {
    display: block;
    justify-items: center;
    margin: auto;
    margin-bottom: 50px;
}

.videosProductos{
    display: flex;
   
}

.mensaje{
    margin: 20px;
    justify-items: center;
    font-weight: 700;
}



.contenedorItems {
    width: 100%;
    height: auto;
    margin: 10px;
    display:flex;
    justify-content: center;
	flex-wrap: wrap;

}

.item {
    display:flex;
    height: 350px;
    width: 200px;
    flex-direction: column;
    border: solid #090145 3px;
    margin: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.contenedorTituloItem {
    min-height: 50px;
    background-color: #090145;
}

.tituloItem {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

.imgItem {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
} 

.contenedorPrecioItem {
    display:flex;
    flex-direction: row;
}

.precioItem {
    font-size: 20px;
    font-weight: 500;
    color: gray;
    text-decoration: line-through red;    
}

.precioItemRebajado {
    font-size: 25px;
    font-weight: 700;
}

.precioItemOff {
    font-size: 15px;
    color:rgb(27, 215, 17)
    
}

.botonItem {
    background-color: #090145;
    font-weight: 700;
    width: 100px;
    margin: 10px;
    justify-content: center;
    color: white;
}

.contFormulario {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 20px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}


.contFormulario {
    font-weight: 600;
    font-size: 1.2em;
}


.titulosMain {
    font-size: 25px;
    color: rgb(6, 3, 66);
}

footer {
    width: 100%;
    background: rgb(6, 3, 66);
}

footer ul {
    color: white;
}

footer ul li a {
    text-decoration: none;
    font-size: 20px;
    color:white;
}

#tituloFooter {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
    .contFormulario {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {

    .contLogo {
        width: 100%; 
    }

    .contLogo img {
        max-width: 80%;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin: 10px 0;
    }
}