body {
    font-family: "Dm Sans", sans-serif;
    background: #69c4e5;
}

header{
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    background-color: white;
}

.navbar {
    display: flex;
    background-color: #090145;
    text-align: start;
    padding: 10px 0;
    justify-content: center;
}

.navbar ul li {
    display: inline;
    margin: 0 auto;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
}

.navbar ul li a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
}

main {
    
    background-color: rgb(229, 230, 232);
}

.contenedorItems {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin: 10px;
    display:flex;
    justify-content: center;
	flex-wrap: wrap;

}

.item {
    display:flex;
    
    border: solid #090145 1px;
    margin: 30px;
    justify-content: space-between;
    
    background-color: white;
}

.imgItem {
    width: 150px;
} 

.botonItem {
    background-color: #090145;
    justify-content: center;
    color: white;
}

#user {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.titulosMain {
    font-size: 25px;
    color: rgb(6, 3, 66);
}

footer {
    background: rgb(6, 3, 66);
}

footer ul {
    color: white;
}

footer ul li a {
    text-decoration: none;
    font-size: 20px;
    color:white;
}

#tituloFooter {
    font-size: 30px;
    color: rgb(255, 255, 255);
}
